[submodule "js/client/style/progress"]
	path = js/client/style/progress
	url = https://github.com/jsullivan/CSS3-Progress-bars
[submodule "js/client/script/joystick.js"]
	path = js/client/script/joystick.js
	url = https://github.com/jeromeetienne/virtualjoystick.js
[submodule "js/client/script/keyboard.js"]
    path = js/client/script/keyboard.js
	url = https://github.com/RobertWHurst/KeyboardJS
[submodule "js/client/bootstrap"]
    path = js/client/bootstrap
    url = https://github.com/twitter/bootstrap