.map_wall {
    background-color: grey;
}

.map_player {
    background-color: blue;
}

.map_bomb {
    background-color: black;
}

.map_path {
    background-color: white;
}

.map_fire {
    background-color: red;
}